@import url('../styles/reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #eee;
}

html, body {
  font-family: var(--font-qs);
}

body {
  background-color: var(--bg);
}
