@import url('../styles/reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #eee;
}

html, body {
  font-family: var(--font-qs);
}

body {
  background-color: var(--bg);
}

.full-bleed {
  box-shadow: 0 0 0 100vmax var(--tw-shadow-color);
  clip-path: inset(0 -100vmax);
}
